.navbar {
  background-color: #042157;
  color: #ffffff; }

.navbar-text, .navbar-text:hover {
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif; }

#sign-up-button {
  background-color: #0398D0;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  width: 100px; }

.dropdown-menu > a:hover {
  background-color: #042157;
  color: #ffffff; }

#current-question-container {
  padding-top: 3%;
  background-color: #FAFAFA;
  font-family: Arial, Helvetica, sans-serif;
  padding-bottom: 65px;
}
#cram-set{
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
}
p{
  font-size: 14px;
  opacity: .8;
  font-family: Arial, Helvetica, sans-serif;
}
#leave-rating-text{
  color: #0398D0;
}
#search-prepend {
  background-color: #ffffff; 
  border-style: none;
  border-top-left-radius: 30px ;
  border-bottom-left-radius: 30px;
  box-shadow: 0 6px 4px -4px #CBCBCB;
}
#search-bar{
  font-family: Arial, Helvetica, sans-serif;
  border-style: none;
  box-shadow: 0 6px 4px -4px #CBCBCB;
  margin-left: -8px;
}
#search-question-button{
  background-color: #042157;
  color: #ffffff;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0 6px 4px -4px #CBCBCB;
}
.content-box{
  background-color: #ffffff;
  padding-top: 10px;
  border-radius: 5px;
  box-shadow: 0px 3px 6px #CBCBCB;
}
.content-description{
  color: #042157;
}
#seperator{
  margin-top: 3px;
  margin-bottom: 0px;
}
#correct-answer{
  font-weight: 600;
  color: #0398D0;
}
#comment-description{
  margin-top: -15px;
}
#comment-name{
  opacity: .9;
  font-weight: 700;
}
#comment-seperator{
  margin-top: -8px;
  margin-right: 25px;
  margin-left: 25px;
}
#comment-box{
  padding-top: 18px;
  padding-bottom: 45px;
}
#post-button{
  background-color: #0398D0;
  height: 35px;
  width: 90px;
  color: #ffffff;
}
#suggested-question-section{
  background-color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 25px;
  padding-bottom: 65px;
}
.suggested-question{
  background-color: #FAFAFA;
  box-shadow: 0px 3px 6px #CBCBCB;
  border-radius: 5px;
}
#suggested-text{
  color: #042157;
}
#form-container{
  background-color: #FAFAFA;
  font-family: Arial, Helvetica, sans-serif;
  padding-top: 25px;
  padding-bottom: 55px;
}
#get-on-it{
  color: #0398D0;
  padding-left: 95px;
}
#question-form{
  box-shadow: 0px 3px 6px #CBCBCB;
  border-style: none;
}
#question-box{
  padding-top: 20px;
  padding-bottom: 40px;
  box-shadow: 0px 3px 6px #CBCBCB;
  border-style: none;
}
.page-footer{
  background-color: #042157;
}
#footer-logo{
  padding-left: 16%;
}
.footer-text{
  color: #ffffff;
}
#footer-line-break{
  background-color: #ffffff;
}
.sticky-side-ad {
  position: -webkit-sticky;
  position: sticky;
  top: 0; }
.flip {
   transform: rotate(-180deg);
}